@model IEnumerable<Service>
@{
    ViewData["Title"] = "View";
}

@foreach (var item in Model)
{
    <div class="col-md-4 text-center">
        <div class="icon-box i-large ib-black">
            <div class="ib-icon"> <i class="fa fa-whatsapp"></i> </div>
            <div class="ib-info">
                <h4 class="h6">WEB DEVELOPMENT</h4>
                <p>We have created the new macbook psd version with scalable vector shapes.</p>
            </div>
        </div>
    </div>
}

