<div class="col-md-4">
    <div class="side-bar">

        <!-- Professional Details -->
        <h5 class="tittle">Professional Details</h5>
        <img src="~/assets/images/avatar.jpg" class="img-responsive" alt="">
        <ul class="personal-info">
            <li>
                <p> <span> Name</span> Nuriyeva Aydan </p>
            </li>
            <li>
                <p> <span> Age</span> 18 Years </p>
            </li>
            <li>
                <p> <span> Location</span> Baku, Azerbaijan </p>
            </li>
            <li>
                <p> <span> Experience</span> 5 Years </p>
            </li>
            <li>
                <p> <span> Degree</span> Bachelor </p>
            </li>
            <li>
                <p> <span> Career Level</span> Mid-Level </p>
            </li>
            <li>
                <p> <span> Phone</span> (+994) 77-500-77-99 </p>
            </li>
            <li>
                <p> <span> E-mail</span> <a href="#.">aydansn@code.edu.az</a> </p>
            </li>
            <li>
                <p> <span> Website</span><a href="#."> example.com </a></p>
            </li>
        </ul>

        <!-- Attachments -->
        <h5 class="tittle">Attachments</h5>
        <div class="attach bor-btm padding-25">
            <ul>
                <li>
                    <p><img src="~/assets/images/pdf-icon.jpg" alt=""> Curriculum-Vitae.pdf <a href="#."><i class="fa fa-cloud-download"></i></a> <a href="#."><i class="fa fa-eye"></i></a></p>
                </li>
                <li>
                    <p><img src="~/assets/images/word-icon.jpg" alt=""> COE.docx <a href="#."><i class="fa fa-cloud-download"></i></a> <a href="#."><i class="fa fa-eye"></i></a></p>
                </li>
            </ul>
        </div>

        <!-- Social Profiles -->
        <h5 class="tittle">Social Profiles</h5>
        <div class="social-icon bor-btm padding-25">
            <ul>
                <li> <a href="#."> <i class="fa fa-facebook"></i></a> </li>
                <li> <a href="#."> <i class="fa fa-google"></i></a> </li>
                <li> <a href="#."> <i class="fa fa-twitter"></i></a> </li>
                <li> <a href="#."> <i class="fa fa-linkedin"></i></a> </li>
                <li> <a href="#."> <i class="fa fa-skype"></i></a> </li>
            </ul>
        </div>
        <h5 class="tittle">Contact Me</h5>
    </div>
</div>