@model Person
@{
    ViewData["Title"] = "Default";
}

<ul class="personal-info">
    <li>
        <p> <span> Name</span> @Model.Name</p>
    </li>
    <li>
        <p> <span> Age</span> @Model.Age Years </p>
    </li>
    <li>
        <p> <span> Location</span> Rome, Italy </p>
    </li>
    <li>
        <p> <span> Experience</span> 15 Years </p>
    </li>
    <li>
        <p> <span> Degree</span> MBA </p>
    </li>
    <li>
        <p> <span> Career Level</span> Mid-Level </p>
    </li>
    <li>
        <p> <span> Phone</span> (800) 123-4567 </p>
    </li>
    <li>
        <p> <span> FAX</span> (800) 123-4568 </p>
    </li>
    <li>
        <p> <span> E-mail</span> <a href="#."> example@example.com</a> </p>
    </li>
    <li>
        <p> <span> Website</span><a href="#."> example.com </a></p>
    </li>
</ul>

